*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: #f1efef;
  }

  .Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .Login{
    padding-right: 40px;
  }

  h1{
    padding-left: 40px;
  }
  .Service{
    display: flex;
    justify-content: space-between;
    padding: 40px;
  }
  
  .cartIcon{
    width: 40px;
  }

  .Delete{
    width: 40px;
    cursor: pointer;
  }

  .Screen{
    width: 50vh;
    height:fit-content;
  }

  .ItemsCenter{
    display: flex;
    padding: 15px;
  }
  .ItemsCenterText{
    padding: 40px;
  }
  .itemName, .ItemPrice, .AddToCart, .ChageQuantity{
    margin-top: 10px;
    border: none;
    font-size: 15px;
  }
.removeQuantity, .quantity, .addQuantity{
    padding: 10px;
    border: none;
    font-size: 15px;
}
.removeQuantity, .AddToCart, .addQuantity{
    cursor: pointer;
}
.AddToCart:hover,.removeQuantity:hover, .addQuantity:hover, .Log:hover, .Pay:hover{
    background-color: #d4d1d1;
    color: black;
}
.ServiceFilter{
    padding: 10px;
    cursor: pointer;
}
.Log{
    padding: 10px;
    border:none;
    cursor: pointer;
}
.Reviews{
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.Input{
    margin-top: 15px;
    width: 400px;
    background-color: #fff;
}
.BtnComments{
    width: 50px;
    margin-top: 10px;
    font-size: 15px;
}
.Stripe{
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.Pay{
    font-size: 15px;
    font-weight: bolder;
    color: #fff;
    border:none;
    padding: 10px;
    cursor: pointer;
    background-color: #1e53e7de;
    border-radius: 4vh;
    margin: 5vh;
}
.thirdColumn{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.Payment{
  border: 1px solid black;
  border-radius: 5vh;
  padding: 2vh;
}
/* .hide-Payment{
  border: 1px solid black;
  border-radius: 5vh;
  padding: 2vh;
  display: block;
} */
.CardElement{
  display: flex;
  flex-direction: column;
  margin-left: 5vh;
}